.registerForm {
  width: 80%;
  height: 100%;
  padding: 20px;
  background-color: rgb(255, 253, 253);
  border-radius:50px;
 border: 1px solid rgb(170, 170, 170);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.registerForm-text{
    font-size: 20px;
}

.registerForm a {
   text-decoration: none;
  color: inherit;
}
.registerForm a:hover {
  color: #007bff;
}


@media (min-width: 600px){
  .registerForm {
  
    width: 500px;
    max-width: 500px; 
  
}

}
