// .mood-icons {
//   display: flex;
//   justify-content: space-around;
//   margin: 20px 0;
// }


.mood-button {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.2);
  }
}

// .selected-mood {
//   text-align: center;
//   margin-top: 20px;
// }

// .selected {
//   transform: scale(1.5);
// }
.mood-title{
text-align: center;
}

.mood-emoji{
    display: flex; 
    justify-content: space-between; 
    gap: 10px;
}

.emoji {
    width: 55px; /* Ширина смайла */
    height: 55px; /* Высота смайла */
}
// .emoji:hover{
//   padding-top: 50px;
// }
